*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15% 1fr)[1];
      grid-template-columns: repeat(1, 15% 1fr);
  -ms-grid-rows: (14.3vh 1fr)[1];
      grid-template-rows: repeat(1, 14.3vh 1fr);
}

.container .head {
  -ms-grid-column: 2;
  grid-column: 2;
}

.container .navegation {
  grid-row: 1 / -1;
}

.head header {
  width: 85%;
  height: 14.3vh;
  background: #c1c0b9;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #3f3b3b;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head h1 {
  color: #3f3b3b;
  font-family: "Poor Story", cursive;
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .head h1 {
    font-size: 1.7rem;
  }
}

.nav-container {
  height: 100%;
  width: 15%;
  -webkit-box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-container li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.nav-container a {
  background: #e7e6e1;
  border-bottom: 1px solid #537791;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3f3b3b;
  font-size: 20px;
  font-family: "Poor Story", cursive;
  font-weight: 700;
}

.nav-container a:hover {
  background: #537791;
}

@media (max-width: 600px) {
  .nav-container a {
    font-size: 0;
  }
  .nav-container a:hover {
    background: #e7e6e1;
  }
  .nav-container a:hover .svg .path {
    fill: #537791;
  }
}

.nav-container .svg {
  display: inline-block;
  width: 20px;
  margin: 0 0 0 5px;
}

@media (max-width: 600px) {
  .nav-container .svg {
    width: 40px;
  }
}

.nav-container .path {
  fill: #3f3b3b;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.main a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.main a:hover {
  color: white;
}

.main span {
  background: rebeccapurple;
  height: 200px;
}

.main span:nth-child(1) {
  background: #3c40c6;
}

.main span:nth-child(2) {
  background: #c7c7c7;
}

.main span:nth-child(6) {
  background: #c73c3c;
}

.main span:nth-child(7) {
  background: #3c88c7;
}
/*# sourceMappingURL=style.css.map */
