*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #252831;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*                    */
/* estilos centrales  */
/*                    */

.main{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.grid,
.main h1{
    text-align: center;
    margin-bottom: 2%;
    padding: 0.1px;
    border:1px solid #424858;
    background:#424858;
}
.grid th{
    display: inline-block;
    line-height: 2.5rem;
    width: 10%;
    border:1px solid #1ba8de;
    background:#424858;
    color:whitesmoke;

}
.grid-thead th{ 
    background:#1ba8de;
    color:black;
}
.grid-tbody tr:nth-child(3) th{

    width: 60%;
}

/*contador de dias */
div.cont{
    margin:20px 0px;
}
div.cont h2{
    text-align:center;
    font-size:80px;
    font-family: 'Nanum Brush Script', cursive;
}
#script{
    color:rgb(185, 0, 0);
}
/*mensaje*/
div.msm{
    position:absolute;
    color:whitesmoke;
    font-family: 'Supermercado One', cursive;
    width:130px;
    top:50px;
    margin-left:130px;
    transform: rotate( -10deg );
}
